body{ margin: 0; padding: 10; font-size: 40; }
.header{background-color: blueviolet; padding: 5%; text-align:  centre ; }
.container{ background-color: red; padding: 5%;  }
.footer{ background-color: darkblue; padding: 5%; text-align: centre;}