body{ margin: 0; padding: 10; font-size: 40; }
.header{background-color: blueviolet; padding: 3%; text-align:  centre ; }
.container{ background-color: yellowgreen; padding: 5%;  }
.footer{ background-color: aliceblue; padding: 5%; text-align: centre;}

	
.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
}

span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
}

nav ul{
	display: flex;
	width: 40vw;
	align-items: center;
	justify-content: space-between;
	
  }
  nav ul li{
	display: inline;
	font-weight: bold;
  }
  
nav ul li:hover{ background: light green;}


<style>
.grid container{
	display: grid;
}
.maintitle {
	background-color: lightgoldenrodyellow;
	padding: 20px;
	text-align: center;

}

body{
	margin: 0px;
	padding: 0px;

}
h1{
	margin: 20px;
}

.header{
	display: block;
	background-color: blueviolet;
	height: 250px;
	margin-top:-25px ;

}
.class1{
	display: block;
	background-color: lightgoldenrodyellow;
	float: left;
	height: 400px;
	width: 50%;


}
.class2{
	display: block;
	background-color: lavender;
	float: right;
	height: 400px;
	width: 50%;
}

.footer1{
 background-color: royalblue; 
 padding: 5%; 
 text-align: centre;
}










