body{ margin: 0; padding: 10; font-size: 40; }
.header{background-color: blueviolet; padding: 3%; text-align:  centre ; }
.container{ background-color: yellowgreen; padding: 5%;  }
.footer{ background-color: aliceblue; padding: 5%; text-align: centre;}

	
.nav {
    border-bottom: 2px solid #EAEAEB;
    text-align: left;
    height: 50px;
    line-height: 50px;
}
.menu {
    margin: 0 20px 0 0;
}
.menu a {
    clear: left;
    color: black;
    margin: 0 20px;
    line-height: 20px;
}

 

nav ul{
	display: flex;
	width: 40vw;
	align-items: center;
	justify-content: space-between;
	
  }
  nav ul li{
	display: inline;
	font-weight: bold;
  }
  
nav ul li:hover{ background: light green;}


<style>
.grid container{
	display: grid;
}

body{
	margin: 20px;
	padding: 20px;

}
h1{
	margin: 0px;
	text-align: center;
}

.header1{
	display: block;
	background-color: blanchedalmond;
	height: 200px;
	margin-top:0px ;

}
.grade1{
	display: block;
	background-color: lightgoldenrodyellow;
	float: left;
	height: 350px;
	width: 65%;


}
.grade2{
	display: block;
	background-color: lavender;
	float: right;
	height: 350px;
	width: 35%;
}

.footer1{
 background-color: royalblue; 
 padding: 10%; 
 text-align: centre;
}

.maintitle1{
	background-color: lightgoldenrodyellow;
	padding: 40px;
	text-align: left;

}

.maintitle2{
	background-color:green;
	padding: 40px;
	text-align: left;

}

.maintitle3{
	background-color: yellowgreen;
	padding: 40px;
	text-align: left;

}

.maintitle4{
	background-color: royalblue;
	padding: 40px;
	text-align: left;

}

.maintitle5{
	background-color: brown;
	padding: 40px;
	text-align: left;
}

.maintitle6{
	background-color: black;
	padding: 40px;
	text-align: left;

}

body{
	margin: 0px;
	padding: 0px;

}
h1{
	margin: 20px;
}

.header2{
	display: block;
	background-color: blueviolet;
	height: 250px;
	margin-top:-25px ;

}
.grade3{
	display: block;
	background-color: lightgoldenrodyellow;
	float: left;
	height: 350px;
	width: 50%;


}
.grade4{
	display: block;
	background-color: lavender;
	float: right;
	height: 350px;
	width: 50%;
}

.footer2{
 background-color: royalblue; 
 padding: 10%; 
 text-align: centre;
}
.wrapper{
display: grid;
grid-template-columns: 33.33% 33.33% 33.33%;	
}
.wrapper > div{
	background-color: #54D17A;
	padding: 1em;
}
.wrapper > div:nth-child(odd){
	background-color: #5461d1;
}








